# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/
*.exe
*.dll
*.so
*.dylib
deploy/
# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
backend/.env.production


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db
desktop.ini

# Common frontend artifacts
.eslintcache
.stylelintcache
coverage/

# Misc
.cache/
tmp/
